<% blazer_group = BlazerGroup.find(query.blazer_group_id).name.to_sym %>
<% return unless current_user.can?(:access, blazer_group) %>
<div class="chart-container">
  <h3><%= link_to query.friendly_name, query_path(query, variable_params), target: "_blank" %></h3>
  <center>
    <%= query.description %>
    <br>
    <br>
  </center>
  <% if query.variables.empty? %>
    <br>
    <div align="right">
      <%= button_to "Download", run_queries_path(query_id: query.id, format: "csv"), params: {statement: query.statement}, class: "btn btn-primary" %>
    </div>
    <br>
    <div id="chart-<%= i %>" class="chart">
      <p class="text-muted">Loading...</p>
    </div>
  <% else %>
    <center>
      <%= link_to "Run Query", query_path(query, variable_params), class: "btn btn-info" %>
    </center>
  <%end%>
  <br>
  <hr>
  <script type="text/javascript">
    <%= blazer_js_var "data", {statement: query.statement, query_id: query.id, only_chart: true} %>
    runQuery(data, function (data) {
      $("#chart-<%= i %>").html(data)
      $("#chart-<%= i %> table").stupidtable()
    }, function (message) {
      $("#chart-<%= i %>").addClass("query-error").html(message)
    });
  </script>
</div>
