<% blazer_title @dashboard.name %>

<div class="topbar">
  <div class="container">
    <div class="row" style="padding-top: 13px;">
      <div class="col-sm-9">
        <%= render partial: "blazer/nav" %>
        <h3 style="margin: 0; line-height: 34px; display: inline;">
          <%= @dashboard.name %>
        </h3>
      </div>
      <div class="col-sm-3 text-right">
        <% if current_user.can?(:access, :blazer_engineering) %>
          <%= link_to "Edit", edit_dashboard_path(@dashboard, variable_params), class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 60px;"></div>

<% if @data_sources.any? { |ds| ds.cache_mode != "off" } %>
  <p class="text-muted" style="float: right;">
    Some queries may be cached
    <%= link_to "Refresh", refresh_dashboard_path(@dashboard, variable_params), method: :post %>
  </p>
<% end %>

<%= render partial: 'query', locals: {query: query, i: i} %>
<%= render partial: 'query', locals: {query: @queries[2], i: 2} %>
